section {
    div {
    display: flex;
    justify-content: center;
  //  flex-wrap: wrap;
    }
    p {
        padding: 2rem;
        margin: auto;
    }

    img {
        max-width: 50dvh;
        border-radius: 20px;
       margin: auto;
    }
}