#home {
    display: flex;

    #image {
        padding: 2rem;
    }
    img {
        border-radius: 50%;
        max-width: 80%;
    }

    #pitch {
        flex-grow: 1;      // Allow the pitch div to grow and fill the remaining space
        padding: 2rem;
        font-family: var(--vollkorn);
        overflow-y: auto;  // Enable vertical scrolling if content exceeds the height
    
    }

}
/* Tablet-stilar */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
  }
  
  /* Mobil-stilar */
  @media only screen and (max-width: 767px) {
    
  }